<div id="main">
  <table>
    <tr>
      <td rowspan="3" style="width: 50px">
        <p-avatar
          image="assets/txt.png"
          styleClass="mr-2"
          size="xlarge"
          shape="circle"
        ></p-avatar>
      </td>
      <td>
        <div id="informations">
          <p class="text-red-500 font-bold test-lg uppercase">John Doe</p>
          <p class="font-bold">Title</p>
          <p>Compliance Team</p>
        </div>
      </td>
    </tr>
  </table>
  <div class="header">
    <div style="margin: 0 auto; display: table">
      <p-tabMenu [model]="items" [activeItem]="activeItem"></p-tabMenu>
    </div>
  </div>
  <router-outlet></router-outlet>
</div>
