div#main {
  margin: 20px;
  width: 90%;
  background-color: white;
}
div#informations {
  float: left;
}
div#informationsMain {
  float: left;
  height: 100px;
}
.center {
  display: grid;
  align-items: center;
  height: 100px;
}
.header {
  margin: 20px;
  width: 100%;
}
table {
  width: 100%;
  background-color: white;
}
.onglets {
  bottom: 5px;
}
