.tablemain{
    margin:20px;
}
.red{
    color:red;
}
.green{
    color:rgb(106, 250, 106);
}
.p-button-outlined{
    float:right;
    margin:0 10px 0 10px;
}
.dropdown{
    float:right;
    
}
.field{
    margin-left: 20px;
    padding:20px;

}
.col-fixed{
    width:100px;
}
.p-field{
    margin-bottom:20px;
}
.redBg{
    background-color:red;
    color:white;
}
.greenBg{
    background-color:rgb(106, 250, 106);
    color:white;
}
.margin{
    margin:5px;
}